div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50%;

}

label,input,select,button {
    display: block;

}

input,select{
    margin-bottom: 16px;

}
