div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 128px;
  width: 75%;
}

label,
input,
button {
  display: block;
}

input {
  margin-bottom: 16px;
}

input {
  border-radius: 4px;
  padding: 16px;
  height: 32px;
  border: none;
}

#added {
  font-size: 64px;
  font-weight: bold;
}

.hide {
  display: none;
}
